/*-----------------reset-----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* video */

video {
  width: 100%;
  border-style: solid;
  /* border-color: #5c16c5; */
  border-color: #5d1cc0;
  border-radius: 4px;
  border-width: 8px;
  margin-bottom: 4rem;
}

#se_video_her {
  /* afstand fr denne linje og grid ovenover */
  margin-top: 7rem;
  text-align: left;
}

span {
  color: rgba(255, 255, 255, 0.489);
}

/* menu */

header ul li a {
  padding: 1rem;
}

main {
  max-width: 700px;
  margin-inline: auto;
  padding: 1rem;
}

/* andet og tekst*/
body {
  /* background-color: #26262c; */
  background-color: #1f1f23;
}

h1,
h2,
h3,
p,
dd,
dt {
  color: white;
}

h1 {
  font-size: 1rem;
  text-decoration: dotted;
}
h2 {
  text-align: center;
  margin-bottom: 1rem;
}

dl {
  display: grid;
  justify-content: center;
}

dd {
  color: #8e8e8e;
  font-size: 1rem;
  text-align: center;
}
dt {
  margin: 0 0 10px 0rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* billedtekst */
#foto1_div {
  display: flex;
  justify-content: right;
  /* max-width: 700px;
  margin-inline: auto; */
  gap: 1rem;
}
#foto1_tekst1 {
  font-size: 1rem;
  margin: 1px 0 0 0;
  font-style: italic;
  color: #53535c;
}
#foto1_tekst2 {
  font-size: 1rem;
  font-style: italic;
  margin: 1px 1rem 0px 0px;
  color: #53535c;
}

/* grids og klasser*/

.log_line {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}

/*                    første linje af logline, skal nemlige have længere width end resten af logline. */
#log_line1 {
  max-width: 700px;
  margin-top: 2.65rem;
  margin-bottom: 0rem;
}

/* knap grid */
.grid_knap {
  display: grid;
  place-items: center;
  margin: 30px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.knap {
  color: white;
  font-size: 1.5rem;
  padding: 30px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 7px 7px #5d1cc0;
  background-image: url(fotos/rs_foto5.JPG);
  background-size: cover;
}

/* .knap {
  font-size: 1.5rem;
  padding: 20px;
} */

/* .knap {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px;
  background-image: url(fotos/rs_foto.JPG);
  align-self: center;
  margin: 2rem;
} */
/*-----------------menu mobil-----------------------*/
header nav ul li a {
  display: flex;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;

  color: white;
  text-decoration: none;
  /* background-color: #9146FF; */
  background-color: #5d1cc0;
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  img {
    margin-bottom: 1rem;
  }
}

/*-----------------Desktop-----------------------*/
@media (min-width: 800px) {
  /*-----------------Menu desktop-----------------------*/
  header nav ul li a {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 2rem;
  }
  /* andet */
  main {
    padding: 0rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  /*-----------------grids desktop-----------------------*/
  /* foto flex */
  .foto_flex {
    display: grid;
    grid-template-columns: 1fr 2.264fr;
    gap: 1rem;
  }
  /* info grid */
  .info_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1rem 0 0 0;
    gap: 1rem;
  }
}
/* h1 {
  font-family: ;
} */
